.clients {
  @include desktop {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(../images/bg-fon/bg-fon-clients_1280.png);

    @include retina {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../images/bg-fon/bg-fon-clients@2_1280.png);
    }

    height: 647px;
  }

  @include tablet {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(../images/bg-fon/bg-fon-clients_768.png);

    @include retina {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        url(../images/bg-fon/bg-fon-clients@2_768.png);
    }

    height: 544px;
    padding-top: 0;
  }

  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../images/bg-fon/bg-fon-clients_320.png);

  @include retina {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(../images/bg-fon/bg-fon-clients@2_320.png);
  }

  background-position: 50% 50%;
  //   position: relative;
  // min-width: 320px;
  // height: 789px;
  // padding-top: 60px;
  // padding-bottom: 30px;
  background-repeat: no-repeat;
  background-size: 100%;
  flex-grow: 1;
}

.clients-box {
  // position: relative;
  margin: 0;
}

.clients-title {
  @media screen and (min-width: 768px) {
    font-size: 42px;
    // padding-top: 100px;
  }

  @include tablet {
    padding-top: 60px;
  }

  @include font(28px, 700, 1.2);
  margin-bottom: 20px;
}

.clients-text {
  @media screen and (min-width: 768px) {
    @include short-font(16px, 1.2);
  }
  line-height: 1.1;
  margin-bottom: 32px;
}

.article-box {
  @include tablet {
    display: flex;
    justify-content: center;
  }

  @include desktop {
    display: flex;
    // justify-content: center;
  }
}

.clients-article:not(:last-child) {
  @include desktop {
    margin-right: 139px;
  }

  @include tablet {
    margin-right: 32px;
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 24px;
  }
}

.clients-bg {
  @include desktop {
    min-width: 501px;
  }

  @include tablet {
    min-width: 336px;
  }

  min-width: 280px;
  background-color: $bg-white;
  border-radius: 30px;
  border-top-left-radius: 0;
}

.star-list {
  @include tablet {
    padding: 12px 0 28px 12px;
  }

  @include desktop {
    padding: 14px 0 28px 14px;
  }

  display: flex;
  fill: $star-color;
  padding: 8px 0 28px 8px;
}

.article-text {
  @media screen and (min-width: 768px) {
    font-size: 18px;
    max-width: 313px;
  }

  @include desktop {
    max-width: 473px;
  }

  @include font(16px, 700, 1.2);
  padding-bottom: 40px;
  margin: 0 auto;
  max-width: 264px;
}

.clients-info-box {
  display: flex;
  flex-wrap: wrap;
}

.cleints-foto {
  width: 48px;
  height: 48px;
  margin: 0 16px 8px 8px;
}

.clients-name {
  font-weight: 500;
  line-height: 1.5;
  padding-bottom: 2px;
}

.clients-status {
  line-height: 1.5;
}

.clients-line {
  border-right: 0.854167px solid $line-commit-green;
  margin-left: 16px;
  margin-bottom: 8px;
}

// Banana
.img-box {
  @media screen and (min-width: 768px) {
    position: relative;
    bottom: -100px;
    justify-content: right;
  }

  @include tablet {
    bottom: -45px;
  }

  position: relative;
  // bottom: 50%;
  // right: -25%;
  // margin-left: auto;
  // margin-right: auto;
  display: flex;
  justify-content: center;
}
