// .favorites-box {
//   margin: 0 auto;
// }

.favorites-title {
  @media screen and (min-width: 768px) {
    @include short-font(42px, 1.2);
    padding-bottom: 20px;
  }

  @include font(28px, 700, 1.2);
  padding-bottom: 20px;
  text-align: center;
}

.favorites-text {
  @media screen and (min-width: 768px) {
    @include short-font(16px, 1.2);
    padding-bottom: 60px;
  }

  @include desktop {
    padding-bottom: 40px;
  }

  line-height: 1.1;
  padding-bottom: 60px;
  text-align: center;
}

.favorites-circle {
  border: 11px solid $circle-color;
  background-color: $bg-white;
  border-radius: 50%;
  padding: 17.5px;
}

.favorites-list {
  @include desktop {
    display: flex;
    flex-direction: column;
  }

  @include tablet {
    display: flex;
  }

  // margin: -16px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // width: 100%;
  // display: block;
  // margin: 0 auto;
}

.favorites-item {
  @include desktop {
    width: calc((100% - 6 * 16px) / 3);
    margin: 16px;
  }

  @include tablet {
    display: block;
    // width: calc((100% - 4 * 16px) / 2);
    margin: 16px;
  }

  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0;
  }

  // @include mobile {
  //   &:nth-child(n + 4) {
  //     display: none;
  //   }
  // }
}

.img-flex {
  @include desktop {
    display: flex;
  }

  @include min-mobile {
    &:last-of-type {
      display: none;
    }
  }
}

// возможно такой вариант не подойдет:
// @include mobile {
//     margin-bottom: 20px;
// }
