.bg-footer {
  // position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../../images/bg-fon/bg-fon-footer_320.png);

  @include retina {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(../../images/bg-fon/bg-fon-footer@2_320.png);
  }

  //   top: 132px;
  // width: 110px;
  // height: 116px;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
}

.footer {
  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }
  // position: relative;
  padding: 60px 0;
  border-top: 1px solid $line-header-color;
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.logo-box-footer {
  padding: 0;
}

.footer-list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 114px;
    margin-bottom: 57px;
  }
  margin-left: 81px;
  margin-bottom: 40px;
}

.footer-item:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 32px;
    margin-bottom: 0;
  }

  margin-bottom: 20px;
}

.footer-link {
  line-height: 1.1;
  color: $text-footer-header;
}

.subscribe-text-footer {
  @include font(14px, 500, 1.5);
  margin-bottom: 12px;
}

.subscribe-input-footer {
  @include short-font(12px, 1.5);

  color: $email-color-text;

  // display: flex;
  // flex-direction: column;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
  outline: none;
  padding: 12px 129px 12px 11px;
}

.btn-subscribe-footer {
  @media screen and (min-width: 768px) {
    margin-left: 13px;
    margin-bottom: 0;
  }

  @include font(13px, 500, 1.5);
  @extend %button-transpatent;
  padding: 11px 22px;
  border: 0.85px solid $btn-border-color;
  margin-bottom: 20px;
}

.private-police {
  @media screen and (min-width: 768px) {
    font-size: 12px;
    padding-top: 12px;
    text-align: start;
  }

  @include short-font(10px, 1.2);
  text-align: center;
}

.private-police-accent {
  color: $accent-color-text;
  border-bottom: 1px solid $accent-color-text;
}

.terms-list {
  @media screen and (min-width: 768px) {
    justify-content: start;
    padding: 0;
  }

  display: flex;
  justify-content: center;
  padding: 60px 0 40px 0;
}

.terms-item:not(:last-child) {
  margin-right: 32px;
}

.terms-link {
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }

  @include short-font(10px, 1.2);
  color: $accent-color-text;
  border-bottom: 1px solid $accent-color-text;
}

.right-reserved {
  @media screen and (min-width: 768px) {
    font-size: 12px;
  }

  @include tablet {
    margin-left: 236px;
  }

  @include short-font(10px, 1.2);
  text-align: center;
}

.footer-box {
  @include tablet {
    display: inline-flex;
    width: 1240px;
    padding: 100px 0 0 0;
  }
}
