.hero {
  @include desktop {
    padding-top: 159px;
  }

  @media screen and (min-width: 768px) {
    position: relative;
  }

  padding-bottom: 50px;
}

.hero-title {
  @include desktop {
    width: 502px;
    padding-bottom: 28px;
    font-size: 48px;
  }

  @include tablet {
    width: 537px;
    padding-bottom: 44px;
  }

  @media screen and (min-width: 768px) {
    font-size: 42px;
  }

  @include font(28px, 700, 1.2);

  padding-bottom: 28px;
}

.hero-text {
  @include desktop {
    width: 502px;
  }

  @include tablet {
    width: 336px;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    padding-bottom: 40px;
  }

  line-height: 1.5;
  padding-bottom: 28px;
}

.btn-hero {
  @include font(13px, 500, 1.5);
  @extend %button-green;
}

.hero-flex {
  display: flex;
}

.hero-img {
  @include desktop {
    position: absolute;
    bottom: -17%;
    right: 16px;

    display: flex;
    justify-content: center;

    //  height: 100%;
    border: 14px solid $circle-color;
    border-radius: 50%;
  }

  @include tablet {
    position: absolute;
    bottom: 0%;
    // bottom: 435px;
    right: 32px;

    display: flex;
    justify-content: center;

    //  height: 100%;
    border: 14px solid $circle-color;
    border-radius: 50%;
  }

  display: none;
}

.bg-arrow-l {
  position: absolute;
  top: 45%;
  left: -8%;
  display: flex;
  width: 30px;
  height: 34px;
  background-color: $bg-white;
  fill: $arrow-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 4px;

  transform: rotate(180deg);
}

.bg-arrow-r {
  position: absolute;
  top: 45%;
  left: 98%;
  display: flex;
  width: 30px;
  height: 34px;
  background-color: $bg-white;
  fill: $arrow-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 4px;

  transform: rotate(0deg);
}
