.hero-title {
  @include tablet {
    font-size: 42px;
    padding-bottom: 44px;
  }

  @include font(28px, 700, 1.2);

  padding-bottom: 28px;
}

.hero-text {
  @include tablet {
    font-size: 16px;
    padding-bottom: 40px;
  }
  line-height: 1.5;
  padding-bottom: 28px;
}

.btn-hero {
  @include font(13px, 500, 1.5);
  @extend %button-green;
}
