// TEXT color---
$title-hero-color: #2c2c2c;
$title-section-color: #2c2c2c;
$base-color-text: #2c2c2c;
$btn-color-text: #2c2c2c;
$accent-color-text: #7eb101;
$email-color-text: #505050;
$text-footer-header: #000000;

// SITE color---
$line-header-color: #fefefe;
$btn-close: #2C2C2C;
$btn-bg-color: #bbf330;
$btn-bg-white: #fff;
$btn-menu-fill: #7eb101;
$btn-border-color: #7eb101;
$btn-text-black: #000;
$icon-color: #7eb101;
$bg-color-icon: #fff;
$bg-white: #fff;
$arrow-black: #000;
$circle-color: #ffe550;
$star-color: #ffe550;
$line-commit-green: #7eb101;
$emai-border-color: #ffe550;
$arrow-color: #2c2c2c;
